* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px lavender;
  width: 100%;
}

header {
  display: flex;
  justify-content: left;
  color: white;
  border: 2px lavender;
  height: 90px;
  margin-bottom: 2%;
}

#headerTitle {
  font-size: 55px;
  letter-spacing: 0.4rem;
  font-style: italic;
  -webkit-text-stroke: 3px rgb(102, 202, 97);
}

#time {
  font-size: 30px;
  -webkit-text-stroke: 4px rgb(190, 239, 75);
}
.card-title.restTitle{
  font-style:oblique;
  font-size: 130%;
  color: rgb(102, 202, 97);
}

.learnMore{
 color: rgb(101, 216, 55);
}
.phoneNumber{
  color:rgb(190, 239, 75);
}


#list {
  margin-left: auto;
  margin-right: 100px;

}

#list a {
  margin: 0px 15px;
}

#time {
  margin-right: 200px;
  margin-top: 20px;
}

#bottom {
  display: flex;
}

#left {
  width: 600px;
}

#leftCon {
  display: flex;
  height: 700px;
  width: 100%;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 2%;
  color: white;
}

#show {
  margin-left: 70px;
}

#form {
  margin-left: 10px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.35);
  height: 60%;
  border-radius: 20px;
}

i {
  height: 10%;
  width: 20%;
  color: rgb(101, 216, 55);
}

label {
  font-size: 150%;
  margin: 8px 10px;
}

input[type="text"] {
  border-radius: 8px;
  height: 40px;
  width: 80%;
}

#price {
  height: 28px;
  width: 60%;
  border-radius: 8px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin: 10px 0;
  height: 20px;
  width: 8%;
}

#submit {
  margin-left: 90px;
  font-size: 24px;
}

#rightCon {
  height: 700px;
  width: 65%;
  margin-top: 0;
  margin-bottom: 2%;
  overflow: scroll;
  border-radius: 2%;
}

#imgslide {
  border-radius: 10%;
  height: 480px
}

.restCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 26px;
  height: 320px;
  width: 75%;
  color: white;
  border: 4px solid black;
  border-image: linear-gradient(black, white) 30;

}

.restImg {
  float: left;
  width: 35%;
  height: 272px;
}

.inforContainer {
  margin-left: 13px;
  font-size: 20px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.45);

}

.restCard:hover {
  transform: scale(1.05)
}

.inforContainer:hover {
  /* background-color: lightskyblue */
  background-color: hsla(242, 80%, 46%, 0.3);
  transition: background-color 0.8s;
}

#show:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  h1 {
    display: none;
  }

  #bottom {
    flex-direction: column;
  }

  #leftCon {
    filter: blur(1.5rem);
    height: auto;
    margin-bottom: 20px;
  }

  #list {
    display: flex;
    flex-direction: column;
  }

  #form {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #list {
    display: inline;
    justify-content: center;
    margin-left: 12px;
  }
}

@media (max-width: 992px) {
  #headerTitle {
    font-size: 25px;
  }

  #time {
    font-size: 15px;
  }

  #list {
    margin-left: 12px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 15px;
}
