* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px lavender;
  height: 90px;
  margin-bottom: 2%;
  background-color: lavender;
}

li {
  border: 2px black solid;
  background-color: green;
  text-decoration: none;
  width: 15%;
  float: left;
}

#form {
  background-color: rgba(0,0,0,0.35);
  height:60%
}


.restImg {
  max-width: 300px;
}


#show {
  background-color: white;
}

body {
  background-image:url('https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px lavender;
  width: 100%;
 background-color: lavender;
}

#leftCon {
  display: flex;
  height: 800px;
  width: 75%;
  margin-left: 5%;
  margin-bottom: 2%;
  float: center;
  justify-content: center;
  color:white;
}

label {
  margin-top: 10px;
}

input {
  border-radius: 8px;
}

#rightCon {
  height: 750px;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
  float: right;
  overflow: scroll;
}

#left {
  width: 40%;
  display: flex;
  flex-direction: column;

}

#bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.restCard {
  color: white;
}

.restCard:hover {
  background-color: lightskyblue

}



@media (max-width: 576px) {
  h1 {
    display: none;
  }

  #bottom {
    flex-direction: column;
  }

  #leftCon {
  filter: blur(1.5rem);
    height: auto;
    margin-bottom: 20px;
  }

  #list {
    display: flex;
    flex-direction: column;
  }

  #form {

    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #list {
    display: inline;
    justify-content: center;
    margin-left: 12px;
  }
}

@media (max-width: 992px) {
  #list {
    margin-left: 12px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 15px;
}
